.span{

    font-size: 26px;
}

.square{
    background-color: yellow;
    padding: 50px;
}

.square1{

    background-color: red;
    padding: 50px;
    
   
  
}

.square2{

    background-color: green;
    padding: 50px;
    
 
}
.photo {
    width: 300px;
    margin:0px, center;
    position: absolute;
    top: 0px;
    left: 300px;
    
    
}